/*FUENTES*/

@font-face {
    font-family: "nevis";
    src: url("fonts/nevis.eot");
    src: url("fonts/nevis.eot?iefix") format("enbedded-opentype"),
        url("fonts/nevis.woff") format("woff"),
        url("fonts/nevis.ttf") format("truetype"),
        url("fonts/nevis.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: "fajala";
    src: url("fonts/FjallaOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}  

@font-face {
    font-family: "iconos";
    src: url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg"),
        url("fonts/websymbols-regular-webfont.eot"),
        url("fonts/websymbols-regular-webfont.eot?iefix") format("enbedded-epentype"),
        url("fonts/websymbols-regular-webfont.woff") format("woff"),
        url("fonts/websymbols-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}  

/*ESTILOS GENERALES*/

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url("../img/paven.png");
}

a{
    color: #529125;
    text-decoration: none;
}

a{
    color: #529125;
    text-decoration: none;
}

a:hover{
    color: #285616;
}

.red{
    color: #9b2422 !important;
}

.blue{
    color: #0c73f2 !important;
}

.icon{
    font-family: "iconos";
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select{
    border:1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc;
    background: white;
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus{
    border: 1px solid #70b261;
    color: black;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button{
    display: block;
    border-radius: 2px;
    border: 1px solid green;
    background-color: #70b261;
    width: 60px;
    padding: 3px;
    color: white;
    cursor: pointer;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover{
    box-shadow: 0px 0px 2px #ccc;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active{
    box-shadow: 0px 0px 3px gray inset;
    text-shadow: 0px 0px 1px #ccc;
}

.clearFix{
    float: none;
    clear: both;
}

/*CABECERA*/

#cabecera{
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}

#cabecera a{
    text-decoration: none;
}

#cabecera #logotipo{
    width: 770px;
    margin: 0px auto;
    padding-top: 20px;
}

#cabecera #logotipo img{

    display: block;
    text-align: center;
    margin: 0px auto;
    width: 140px;

}

#cabecera h1{
    text-align: center;
    font-size: 40px;
    color: #70b261;
    font-family: "nevis";
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px #333333;
    transition: all 300ms;
}

#cabecera h1:hover{
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b261;
}

#cabecera a{
    color: #70b261;
}

/* BARRA DE NAVEGACION */

#navegacion{

    width: 100%;
    height: 40px;
    background-color: #333333;
    color: white;
    font-family: sans-serif, Helvetica, Arial;
    box-shadow: 0px 0px 2px gray;

}

#navegacion ul{
    overflow: hidden;
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 1130px;

}

#navegacion > ul > li{
    
    line-height: 40px;
    float: left;
    border-right: 1px solid gray;
    transition: all 300ms;

}

#navegacion > ul > li  a{

    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    text-decoration: none;

}

#navegacion > ul > li > a:first-child{

    border-left: 1px solid gray;

}


#navegacion ul > li:hover{

    background-color: #70b261;
    box-shadow: 0px 0px 2px green inset;

}

/*MENU DESPLEGABLE*/

#navegacion ul > li > ul{

    display: none;
    position: absolute;
    width: 160px;
    box-shadow: 0px 2px 2x gray;
    z-index: 1;

}

#navegacion ul > li:hover > ul{

    display: block;

}

#navegacion ul > li:hover > ul > li{

    background-color: #f2f1f0;
    border-bottom: 1px solid #D6D6D6;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;

}

#navegacion ul > li:hover > ul > li a{

    color: #666666;

}

#navegacion ul > li:hover > ul > li:hover{

    box-shadow: 0px 0px 2px #ccc inset;
    background-color: rgb(231, 231, 231);
}

/* Contenido */

#contenido{
    width: 1250px;
    min-height: 1100px;
    margin: 0px auto;
}

/* Barra lateral */

#barraLateral, #frase{
    width: 200px;
    float: left;
    margin: 30px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

#frase{
    width: 180px;
    padding: 10px;
    font-size: 14px;
}

#barraLateral .widget{
    display: block;
    width: 180px;
    margin: 5px auto;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #333;
}

#barraLateral .widget:last-child{
    margin-bottom: 20px;
}

#barraLateral h3{
    display: block;
    width: 100%;
    color: #333333;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    background: #f2f3f2;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#barraLateral li{
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;
    list-style: square;
}

/* Estilos formularios */

#barraLateral div label,
input[type="text"],
input[type="email"],
input[type="password"],
#barraLateral div a{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#barraLateral div input[type ="button"],
#barraLateral div input[type ="submit"],
#barraLateral div button{
    margin-top: 5px;
    margin-bottom: 10px;
}

#barraLateral input,
#barraLateral label{
    margin:0px auto;
    text-align: center;
}

/* Secciones  */

#secciones{
    float: right;
    width: 75%;
    font-family: sans-serif, Helvetica, Arial;
    margin-right: 20px;
}

#secciones .titulo{
    font-family: "fajala";    
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    margin-top: -25px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#secciones section{
    margin-top: 40px;
    background-color: white;
    padding:20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #c9c9c9;
    font-size: 16px;
    overflow: hidden;
}

#secciones .articulo{
    margin:10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#secciones .date{
    color: gray;
    font-weight: 14px;
}

#secciones .stickerUno,
#secciones .stickerDos{
    position: absolute;
    margin-top: -38px;
    z-index: 0;
}

#secciones .stickerDos{
    margin-left: 860px;
}

#contenido #historico{
    float: right;
    margin-top: 20px;
    margin-right: 19px;
    font-family: sans-serif, arial, helvetica;
}

/* Pie de pagina */

#piePagina{
    width: 100%;
    margin:0px auto;
    margin-top: 40px;
    text-align: center;
    background-color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}